---
name: Tests

on:
  pull_request:
  push:
    branches: [ main ]

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:

  tests:

    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.14"]
        sphinx-version: ["6.*", "7.*"]
        include:
          - python-version: "3.9"
            sphinx-version: "7.*"

    env:
      PYTHON: ${{ matrix.python-version }}
      SPHINX: ${{ matrix.sphinx-version }}

    name: >
      Sphinx ${{ matrix.sphinx-version }}
      Python ${{ matrix.python-version }}
    steps:

    - name: Acquire sources
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        cache: 'pip'
        cache-dependency-path: 'pyproject.toml'

    - name: Setup project
      run: |

        # `setuptools 0.64.0` adds support for editable install hooks (PEP 660).
        # https://github.com/pypa/setuptools/blob/main/CHANGES.rst#v6400
        pip install "setuptools>=64" --upgrade

        # Install package in editable mode.
        pip install --use-pep517 --prefer-binary --editable=.[develop,docs,test]

        # Install specific Sphinx version, according to test matrix slot.
        pip install sphinx==${{ matrix.sphinx-version }}

    - name: Run linter and software tests
      run: |
        poe check

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: ./coverage.xml
        flags: unittests
        env_vars: PYTHON,SPHINX
        name: codecov-umbrella
        fail_ci_if_error: true
